@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Lets together order your food here.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <h4 class="alert-heading">Top Ten Best Seller !</h4>
                <p class="mb-0">This Top Ten of the best seller food for this day. Lets check this out and enjoy you food with your bestfriend ever.</p>
            </div>
        </div>       
    </div>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                    McDonalds
                    <span class="badge bg-primary rounded-pill">25 menu</span>
                </li>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    Richesee Factory
                    <span class="badge bg-primary rounded-pill">20 menu</span>
                </li>
                <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                    Bakmi Holly
                    <span class="badge bg-primary rounded-pill">20 menu</span>
                </li>
                <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                    Bandar Juice
                    <span class="badge bg-primary rounded-pill">10 menu</span>
                </li>
                <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
                    Ayam Geprek
                    <span class="badge bg-primary rounded-pill">14 menu</span>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                    Rice Box
                    <span class="badge bg-primary rounded-pill">14 menu</span>
                </li>
                <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                    KFC
                    <span class="badge bg-primary rounded-pill">25 menu</span>
                </li>
                <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
                    Mujigae
                    <span class="badge bg-primary rounded-pill">16 menu</span>
                </li>
                <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                    Ropisbak
                    <span class="badge bg-primary rounded-pill">15 menu</span>
                </li>
                <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
                    Bee Healthy
                    <span class="badge bg-primary rounded-pill">14 menu</span>
                </li>
            </ul>
        </div>
    </div>
    
</div>

